/* Theme Variables */
--border-width: 1px;
--button-icon-corner-radius: 5px;
--button-icon-outline-offset: 2px;
--button-icon-padding: 3px;
--button-padding-horizontal: 11px;
--button-padding-vertical: 4px;
--checkbox-corner-radius: 3px;
--corner-radius: 0px;
--corner-radius-round: 4px;
--design-unit: 4;
--disabled-opacity: 0.4;
--dropdown-list-max-height: 200px;
--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
--font-weight: 400;
--input-height: 26px;
--input-min-width: 100px;
--monaco-monospace-font: "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;
--radius: 6px;
--radius-lg: 8px;
--radius-md: 6px;
--radius-sm: 4px;
--scrollbar-height: 10px;
--scrollbar-width: 10px;
--tag-corner-radius: 2px;
--text-base: 1rem;
--text-lg: 1.125rem;
--text-sm: 0.875rem;
--text-xs: 0.75rem;
--type-ramp-base-font-size: 13px;
--type-ramp-base-line-height: normal;
--type-ramp-minus1-font-size: 11px;
--type-ramp-minus1-line-height: 16px;
--type-ramp-minus2-font-size: 9px;
--type-ramp-minus2-line-height: 16px;
--type-ramp-plus1-font-size: 16px;
--type-ramp-plus1-line-height: 24px;